
a {
    font-size:20px;
}.src{
    width:192px;
    height:192px;
    background:url(0aff65ce43f7dea7db897b4b45f6103a.jpg) no-repeat;
    box-shadow: 0 0 0 2px #3e999f;
    border-radius: 50%;
    display:-ms-flexbox;
    display:flex;
    transition: transform 1s;
}
::-webkit-input-placeholder {
    color : #ccc
}
::-moz-placeholder {
    color : #ccc
}
:-ms-input-placeholder {
    color : #ccc
}
::placeholder {
    color : #ccc
}